@font-face {
  font-family: 'iconfont';  /* Project id 2272269 */
  src: url('//at.alicdn.com/t/font_2272269_ak32qlj74q8.woff2?t=1636688767743') format('woff2'),
       url('//at.alicdn.com/t/font_2272269_ak32qlj74q8.woff?t=1636688767743') format('woff'),
       url('//at.alicdn.com/t/font_2272269_ak32qlj74q8.ttf?t=1636688767743') format('truetype');
}

[class^="iconfont-"],
[class*=" iconfont-"] {
  font-family: 'iconfont' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfont-home:before {
  content: "\e600";
}

.iconfont-notice:before {
  content: "\e6ad";
}

.iconfont-share:before {
  content: "\e65b";
}

.iconfont-recommend:before {
  content: "\e629";
}

.iconfont-discounts:before {
  content: "\e667";
}

.iconfont-waimai:before {
  content: "\e65d";
}

.iconfont-top:before {
  content: "\e64b";
}

.iconfont-kinds:before {
  content: "\e657";
}

.iconfont-right:before {
  content: "\e605";
}

.iconfont-coupon:before {
  content: "\e618";
}

.iconfont-hot:before {
  content: "\e66b";
}

.iconfont-star:before {
  content: "\e64f";
}

.iconfont-live:before {
  content: "\e606";
}

.iconfont-type:before {
  content: "\e67d";
}

.iconfont-search:before {
  content: "\e60d";
}

.iconfont-gotop:before {
  content: "\e670";
}

.iconfont-ashbin:before {
  content: "\e7f2";
}

.iconfont-camera:before {
  content: "\e609";
}

.iconfont-weixin:before {
  content: "\e601";
}
