// 优惠券主题色
$primary-color:#ec363c;
$background-color:#ffffff;
$card-color:#f2f2f2;
$font-color-1:#35354b;
$font-color-2:#9795a0;
$border-color:#f2f2f2;
$shadow-color:#ededed;

// 头像编辑器主题色
$a-primary-color:#151515;
$a-background-color:#f7f7f7;
$a-card-color:#ffffff;
$a-font-color-1:#35354b;
$a-font-color-2:#9795a0;
$a-border-color:#262626;

$wx-background-color:#1ece41;
