@import '../../../static/styles/theme.scss';

.upload-origin-images {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fdfdfd;

  .options-wrap {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding-bottom: 40px;
    background-color: #474546;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    .options-btn {
      flex: 2;
      height: 80px;
      box-sizing: border-box;
      margin: 20px;
      color: #fff;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      border: none;

      [class^="iconfont-"] {
        font-size: 38px;
        margin: 0 8px;
      }

      &.wx-btn {
        background-color: $wx-background-color;
      }

      &.upload-btn {
        font-weight: 400;
        position: relative;
        font-size: 26px;
        color: #fdfdfd;
      }

      &.next-btn {
        flex: 3;
        font-weight: 400;
        font-size: 26px;
        border: 1px solid #bbbbbb;
        color: #fdfdfd;
      }
    }
  }
}
