@import '../../../static/styles/theme.scss';

.save-main-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #474546;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  .result-avatar {
    border: 1px solid #fdfdfd;
    width: 600px;
    height: 600px;
    margin: 30px auto;
  }

  .share-avatar-btn,
  .save-avatar-btn {
    width: 600px;
    height: 90px;
    margin: 30px 50px;
    background-color: transparent;
    border: 1px solid #fdfdfd;
    border-radius: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    position: relative;
    font-size: 26px;
    color: #fdfdfd;
    box-sizing: border-box;

    [class^="iconfont-"] {
      font-size: 35px;
      margin: 0 8px;
    }
  }

  .save-avatar-btn {
    border: none;
    background-color: #fdfdfd;
    color: #474546;
  }
}
